<div class="container">
  <div class="row my-5">
    <div class="col-3">
    </div>
    <div class="col-9">
      <h4>商品新規登録</h4>
    </div>
  </div>

  <% if @item.errors.any? %>
    <%= @item.errors.count %>件のエラーが発生しました
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
   <% end %>

    <div class="col-12">
      <%= form_with model: @item, url: admin_items_path do |f| %>
        <div class="form-group row">
            <div class="col-3"></div>
            <div class="col-2"><%= f.label :image, "商品画像", class:"col-form-label col-sm-5 text-nowrap" %></div>
            <div class="col-4"><%= f.file_field :image, accept: "*/image" %></div>
            <div class="col-3"></div>
        </div>
        <div class="form-group row">
            <div class="col-3"></div>
            <div class="col-2"><%= f.label :name, "商品名", class:"col-form-label col-sm-5 text-nowrap" %></div>
            <div class="col-4"><%= f.text_field :name, required: true, style: "width:100%", placeholder: '商品名' %></div>
            <div class="col-3"></div>
        </div>
        <div class="form-group row">
            <div class="col-3"></div>
            <div class="col-2"><%= f.label :introduction, "商品説明", class:"col-form-label col-sm-5 text-nowrap" %></div>
            <div class="col-4"><%= f.text_area :introduction, size: "20x5", style: "width:100%", placeholder: 'ここに説明文を記述します' %></div>
            <div class="col-3"></div>
        </div>
        <div class="form-group row">
            <div class="col-3"></div>
            <div class="col-2"><%= f.label :genre_id, "ジャンル", class:"col-form-label col-sm-5 text-nowrap" %></div>
            <div class="col-4"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></div>
            <div class="col-3"></div>
        </div>
        <div class="form-group row">
            <div class="col-3"></div>
            <div class="col-2"><%= f.label :price, "税抜価格", class:"col-form-label col-sm-5 text-nowrap" %></div>
            <div class="col-4 mr-0 pr-0"><%= f.number_field :price, min: 1, required: true,style: "width:100%" %></div>
            <div class="col-3 ml-0 pl-0"><p>円</p></div>
        </div>
        <div class="form-group row">
          <div class="col-3"></div>
          <div class="col-2"><%= f.label :is_sale, "販売ステータス", class:"col-form-label col-sm-5 text-nowrap" %></div>
            <div class="col-4">
              <%= f.radio_button :is_sale, "true" %>
              <%= f.label :is_sale, "販売中" %>
              <%= f.radio_button :is_sale, "false" %>
              <%= f.label :is_sale, "販売停止中" %>
            </div>
          <div class="col-3"></div>
        </div>
        <div class="text-center">
          <%= f.submit '新規登録', class:"btn btn-success" %>
        </div
      <% end %>
    </div>
</div>

