 <div class="text-center">
    <h3 class="head-line title_h2 text-center">管理者ログイン</h3>

  <%= form_with model: @admin, url: customer_session_path do |f| %>
  <% if @admin.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h3>
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="field form-group col-xs-9">
  <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %><br>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-4 form-control-static" %>
  </div>

  <div class="field form-group col-xs-9">
  <%= f.label :"パスワード", class: "col-sm-4 control-label" %><br>
  <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-4 form-control-static" %>
  </div>

  <div class="actions col-xs-5 pull-right">
  <%= f.submit "ログイン", class: "btn btn-success btn-lg col-xs-7" %>
  </div>

  <% end %>
