<div class="container">

  <div class="row row-col-9">
    <div class="col-1"></div>
    <h4 class="col">配送先登録/一覧</h4>
  </div>

  <div>
    <%= form_with model: ShippingAddress.new, url: shipping_addresses_path, method: :post do |f| %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <div class="row row-cols-12 from-group">
        <div class="col-3"><%= f.label "郵便番号(ハイフンなし)", class:"form-label" %></div>
        <div class="col-3"><%= f.text_field :postcode, class:"col-9" %></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>

      <div class="row row-cols-12 from-group">
        <div class="col-3"><%= f.label "住所", class:"form-label" %></div>
        <div class="col-7"><%= f.text_field :address, class:"col-12" %></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
      </div>

      <div class="row row-cols-12 from-group">
        <div class="col-3"><%= f.label "宛名", class:"form-label" %></div>
        <div class="col-3"><%= f.text_field :name, class:"col-9" %></div>
        <div class="col-4"></div>
        <div class="col-2"><%= f.submit '新規登録', class:"col-12 btn btn-success" %></div>
      </div>
    <% end %>
  </div>

      <div class="row">
        <table class="table table-bordered">
          <thead class="table table-secondary">
            <tr>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <% @shipping_addresses.each do |shipping_address| %>
            <tbody class="table table-bordered">
              <tr>
                <th><%= shipping_address.postcode %></th>
                <th><%= shipping_address.address %></th>
                <th><%= shipping_address.name %></th>
                <th>
                  <%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class:"btn btn-success" %>
                  <%= link_to "削除する", shipping_address_path(shipping_address.id), method: :delete, class:"btn btn-danger" %>
                </th>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
  </div>
</div>
