<div class="container">
  <div class="row my-3">
    <h4 class="col-10 mt-2">注文履歴一覧</h4>
    </div>
    <div class="row my-3">
    <table class="col-12">
      <thead class="table table-secondary">
            <tr>
              <th>購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <th>注文ステータス</th>
            </tr>
          </thead>
          <tbody class="table table-borderless">
            <% @orders.each do |order| %>
              <tr>
                <td><%= link_to admin_order_path(order), class:"text-dark" do %><%= order.created_at.to_s %><% end %></td>
                <td><%= order.customer.family_name %><%= order.customer.first_name %></td>
                <td><%= order.order_details.sum(:quantitiy) %></td>
                <td><%= order.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        <div class="top_page">
         <%= paginate @orders %>
         </div>


    </div>

