
    <h2 class="head-line title_h2 text-center"><i class="fas fa-user-edit"></i>新規会員登録</h2>
<div class="text-left">
    <%= form_with model: @customer, url: customer_registration_path do |f| %>
<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

      <div class="field form-group col-xs-5">
        <%= f.label :"名前", class: "col-sm-2 control-label" %>
        <%= f.label :"(姓)", class: "col-sm-1 control-label" %>
        <%= f.text_field :family_name, autofocus: true, class: "col-sm-3 form-control-static name" %>
        <%= f.label :"(名)", class: "col-sm-1 control-label" %>
        <%= f.text_field :first_name, autofocus: true, class: "col-sm-3 form-control-static name" %>
      </div>

      <div class="field form-group col-xs-5">
        <%= f.label :"フリガナ", class: "col-sm-2 control-label" %>
        <%= f.label :"(セイ)", class: "col-sm-1 control-label" %>
        <%= f.text_field :family_name_kana, autofocus: true, class: "col-sm-3 form-control-static name" %>
        <%= f.label :"(メイ)", class: "col-sm-1 control-label" %>
        <%= f.text_field :first_name_kana, autofocus: true, class: "col-sm-3 form-control-static name" %>
      </div>


      <div class="form-group col-xs-5">
      <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
      <%= f.text_field :email, class: "col-sm-6 form-control-static"%>
      </div>

      <div class="form-group col-xs-5">
      <%= f.label :"郵便番号", autofocus: true, class: "col-sm-4 control-label" %>
      <%= f.text_field :postcode, class: "col-sm-4 form-control-static postal_code" %>
      </div>

      <div class="form-group col-xs-7">
      <%= f.label :"住所", class: "col-sm-4 control-label" %>
      <%= f.text_field :address, autofocus: true, class: "col-sm-6 form-control-static address"  %>
      </div>

      <div class="form-group col-xs-7">
      <%= f.label :"電話番号", class: "col-sm-4 control-label" %>
      <%= f.text_field :telephone_number, class: "col-sm-4 form-control-static" %>
      </div>


      <div class="field form-group col-xs-7">
        <%= f.label :"パスワード(6文字以上)", class: "col-sm-4 control-label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-4 form-control-static" %>
      </div>

      <div class="field form-group col-xs-7">
        <%= f.label :"パスワード(確認用)", class: "col-sm-4 control-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-4 form-control-static" %>
      </div>

      <div class="actions col-xs-7">
        <%= f.submit "新規登録",class: 'btn btn-success btn-lg col-xs-7' %>
      </div>
    <% end %>
  </div>

    <div class="head-line">
      <h2>既に登録済みの方</h2>
      <p> <%= link_to "こちら", new_session_path(resource_name), data: {"turbolinks" => false}, class: "btn-link" %>からログインしてください。</p>
    </div>


