<div class="container">

  <h4>注文情報確認</h4>

    <table class="table table-bordered">
      <thead class="table table-secondary">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>

    <% @cart_items.each do |cart|%>
      <tbody class="table table-bordered">
        <tr>
          <td><%= cart.item.name %></td>
          <td><%= cart.item.with_tax_price.to_s(:delimited) %></td>
          <td><%= cart.quantitiy%></td>
          <td><%= cart.subtotal.to_s(:delimited) %></td>
          <%# @total_amount += cart.subtotal %>
        </tr>
      </tbody>
    <% end %>
    </table>

    <table>
      <tr class="table table-bordered">
        <td class="table table-bordered table-secondary">送料</td>
        <td class="table"><%= 800 %></td>
      </tr>
      <tr class="table table-bordered">
        <td class="table table-secondary">商品合計</td>
        <td><%#= @total_amount.to_s(:delimited) %></td>
      </tr>
      <tr class="table table-bordered">
        <td class="table table-secondary">請求金額</td>
        <td></td>
      </tr>
    </table>

  <%= form_with model: @order, url: orders_path, method: :post do |f| %>
  <div>支払方法</div>
    <div>
      <% if params[:order][:payment_method] == "credit_card" %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      <% else %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
      <% end %>
    </div>

  <div>お届け先</div>
      <div>
        <%= "〒" %>
        <%= @order.postcode %>
        <%= @order.address %>
        <%= @order.shipping_name %>
      </div>
      <%= f.submit "注文を確定する", class:"btn btn-success" %>
      <% end %>
</div>