<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h4 class="col">注文情報入力</h4>
  </div>

  <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
    <div class="container">
      <strong>支払方法</strong>
      <div class="container">
        <div class="row">
          <div class="col">
            <%= f.radio_button :payment_way, Order.payment_ways.key(0), required: true %>
            <%= f.label :payment_way, Order.payment_ways_i18n[:credit_card] %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.radio_button :payment_way, Order.payment_ways.key(1), required: true %>
            <%= f.label :payment_way, Order.payment_ways_i18n[:transfer]%>
          </div>
        </div>
      </div>
    </div>

    <div  class="container">
      <strong>お届け先</strong>
      <div class="container">
        <%= f.radio_button :address_select, 1, required: true %>
        <%= f.label :address_id, "ご自身の住所" %>
        <div class="container">
          <h6 class="col">
            <%= "〒" %>
            <%= current_customer.postcode %>
            <%= current_customer.address %><br>
            <%= current_customer.family_name + current_customer.first_name %>
          </h6>
        </div>
      </div>
      <div class="container">
        <%= f.radio_button :address_select, 2, required: true %>
        <%= f.label :address_id, "登録済住所から選択" %>
        <div class="row cols-12">
          <div class="col-1"></div>
          <div class="col-11">
           <%= f.select :address_id, options_from_collection_for_select(@shipping_addresses, :id, :address_display), class:"option_value" %>
          </div>
        </div>
      </div>
      <div class="container form-group">
        <%= f.radio_button :address_select, 3, required: true %>
        <%= f.label :address_id, "新しいお届け先" %>
        <div class="row row-cols-12 from-group">
          <div class="col-3">
            <%= f.label "郵便番号(ハイフンなし)", class:"col-form-label" %>
          </div>
          <div class="col-5">
            <%= f.text_field :postcode, class:"form-control-sm col-5" %>
          </div>
        </div>
        <div class="row row-cols-12 from-group">
          <div class="col-3">
            <%= f.label "住所", class:"col-form-label" %>
          </div>
          <div class="col-6">
            <%= f.text_field :address, class:"form-control-sm col-11" %>
          </div>
        </div>
        <div class="row row-cols-12 from-group">
          <div class="col-3">
            <%= f.label "宛名", class:"col-form-label" %>
          </div>
          <div class="col-5">
            <%= f.text_field :shipping_name, class:"form-control-sm col-5" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= f.submit "確認画面へ進む", class:"btn btn-primary mx-auto" %>
    </div>
  <% end %>
</div>