<div class="container">

  <h4>注文履歴詳細</h4>

  <div class="row">
    <div>
    <strong>注文情報</strong>
      <table class="table table-bordered col-9">
        <tbody>
          <tr>
            <td class="table table-secondary">注文日</td>
            <td><%= l @order.created_at, format: :short %></td>
          </tr>
          <tr>
            <td class="table table-secondary">配送先</td>
            <td>〒
              <%= @order.postcode %>
              <%= @order.address %>
              <%= @order.shipping_name %>
            </td>
          </tr>
          <tr>
            <td class="table table-secondary">支払方法</td>
            <td><%= @order.payment_way_i18n %></td>
          </tr>
          <tr>
            <td class="table table-secondary">ステータス</td>
            <td><%= @order.status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- できれば戻り値にしたかった-->
    <% @order.order_details.each do |detail| %>
      <% detail.item.with_tax_price * detail.quantitiy %>
      <% @total += detail.item.with_tax_price * detail.quantitiy %>
    <% end %>
    <div class="col-3">
      <strong>請求情報</strong>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table table-secondary">商品合計</td>
            <td><%= @total.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td class="table table-secondary">配送料</td>
            <td><%= @order.postage.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td class="table table-secondary">ご請求額</td>
            <td><%= @order.total_amount.to_s(:delimited) %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row col-8">
    <strong>注文内容</strong>
    <table class="table table-bordered">
      <thead class="table table-secondary">
        <tr>
          <td class="col-6">商品</td>
          <td class="col-auto"><strong>単価(税込)</strong></td>
          <td class="col-auto"><strong>個数</strong></td>
          <td class="col-auto"><strong>小計</strong></td>
        </tr>
      </thead>

      <% @order.order_details.each do |detail| %>
      <tbody>
        <tr>
          <td><%= detail.item.name %></td>
          <td><strong><%= detail.item.with_tax_price %>円</strong></td>
          <td><strong><%= detail.quantitiy %></strong></td>
          <td>
          <strong><%= detail.item.with_tax_price * detail.quantitiy %>円</strong>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>

</div>
