<% provide(:title, "ログイン") %>
<div class="row">
  <div class="col-xs-offset-1 col-xs-11">
    <h3 class="head-line title_h2 text-center">会員の方はこちらからログイン</h3>


  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)%>
      </h2>
      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
          <% end %>
      </ul>
    </div>
 <% end %>


  <%= form_with model: @customer, url: customer_registration_path do |f| %>
  <div class="field form-group col-xs-9">
  <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-8 form-control-static" %>
  </div>

  <div class="field form-group col-xs-9">
  <%= f.label :"パスワード", class: "col-sm-4 control-label" %>
  <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-8 form-control-static" %>
  </div>

  <div class="actions col-xs-9 pull-right">
  <%= f.submit "ログイン", class: "btn btn-success btn-lg col-xs-7" %>
  </div>

  <% end %>
  <div class="col-xs-9">
   <h5 class="head-line title_h2 text-center">登録がお済みではない方</h5>
     <p class="new-link">
        <%= link_to "こちら", new_registration_path(resource_name), data: {"turbolinks" => false}, class: "btn-link" %>から新規登録を行ってください。
     </p>
  </div>
 </div>
</div>